[includeIf "gitdir:~/repos/"]
	path = .gitconfig-professional
[includeIf "gitdir:~/repos/dotfiles/"]
	path = .gitconfig-personal
[includeIf "gitdir:~/repos/journal/"]
	path = .gitconfig-personal
# reference: https://blog.thomasheartman.com/posts/modularizing-your-git-config-with-conditional-includes

[core]
	editor = nvim
	# autocrlf = input
	pager = delta
	eol = lf
	autocrlf = input

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true
    side-by-side = true

[interactive]
    diffFilter = delta --color-only

[pager]
	branch = false
[init]
	defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = Aylr@users.noreply.github.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
