[user]
	email = Aylr@users.noreply.github.com
	name = Aylr
[core]
	editor = sublime -n -w
	autocrlf = input
[pager]
	branch = false
[init]
	defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
